#lectures {
  position: relative;
  transition: padding-top 0.7s;

  &:has(#floating-file-uploader.active) {
    padding-top: 70px;
  }
}

:root[lang="ar"] {
  #floating-file-uploader {
    top: 0;
    left: 100%;
    transition: all 0.7s;

    &.active {
      left: 0;
    }

    #open-arrow {
      left: 0%;
      transform: translate(-100%, 0);
      border-radius: 1.2rem 0 0 1.2rem;
    }

    #close-arrow {
      left: 0;
    }
  }
}

:root[lang="en"] {
  #floating-file-uploader {
    top: 0;
    right: 100%;
    transition: all 0.7s;

    &.active {
      right: 0;
    }

    #open-arrow {
      right: 0;
      transform: translate(145%, 0);
      border-radius: 0 1.2rem 1.2rem 0;
    }

    #close-arrow {
      margin: 0;
      right: 0;
    }
  }
}

#class-card-wrapper {
  width: 100vw;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;

  hr {
    width: 50%;
    margin: 0.5rem auto;
  }

  .class-card {
    .class-state {
      left: 5%;
    }

    .card-period {
      font-size: 10px;
    }

    .class-card-details {
      display: flex;

      flex-direction: column;
      padding: 0 10px;
      gap: 5px;

      div {
        font-size: 13px;


      }
    }
  }
}